.time-form{
  background-color: var(--color-bg-button-menu);
  border-radius: var(--border);
  display: grid;
  padding: 20px; 
}
.inputs-form{
  display: flex;
  justify-content: space-around;
}
.buttons-form{
  display: flex;
  gap: 1rem;
  font-size: .9rem;
}