.App {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
  color: greenyellow;
  
}
.App h2{
  font-weight: 400;
  font-size: 8em;
}

#root{
  background-color: black;
}

