*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --border : 8px;
  --color-primary: greenyellow;
  --color-secondary: #FF4528 ;
  --color-bg-navbar: #111;
  --gap-buttons: 0.4em;
  --font-weight: 400;
  --font-family: 'clockicons', cursive;
  --font-family-two: 'Black Ops One', cursive;
  --font-family-text: 'Open Sans', sans-serif;
  --color-bg-button-menu: rgba(234, 234, 234, 0.3);
}
.App {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
  color: var(--color-primary);
  font-family: var(--font-family-text);
  
}
.App h2{
  font-weight: 400;
  font-size: 8em;
  font-family: var(--font-family);
}

#root{
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  #root{
    background-color:black;
  }
  
}
@media (prefers-color-scheme: light) {
  #root{
    background-color: #eee;
    color: white;
  }
  :root{
    /* --border : 8px;
    --color-primary: greenyellow;
    --color-secondary: #FF4528 ;
    --gap-buttons: 0.4em;
    --font-weight: 400;
    --font-family: 'clockicons', cursive;
    --font-family-two: 'Black Ops One', cursive;
    --font-family-text: 'Open Sans', sans-serif; */
    --color-bg-navbar: #999999;
    --color-primary: rgb(146, 216, 41);
    --color-bg-button-menu: rgba(37, 36, 36, 0.3);
  }
  h1,h2,h3,p,div,article{
    color: black;
  }
}