*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --border : 8px;
  --color-primary: greenyellow;
  --color-secondary: #FF4528 ;
  --gap-buttons: 0.4em;
  --font-weight: 400;
  --font-family: 'clockicons', cursive;
  --font-family-two: 'Black Ops One', cursive;
  --font-family-text: 'Open Sans', sans-serif;
}
.App {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
  color: greenyellow;
  font-family: var(--font-family-text);
  
}
.App h2{
  font-weight: 400;
  font-size: 8em;
  font-family: var(--font-family);
}
/* .App aside{
  position: absolute;
  left: 0;
  height: 100%;
  border: 1px solid red;
} */

#root{
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  #root{
    background-color:black;
  }
  
}
@media (prefers-color-scheme: light) {
  #root{
    background-color: #eee;
    color: white;
  }
  h1,h2,h3,p,div,article{
    color: black;
  }
}